<input type="checkbox" id="menu-toggle" class="menu-toggle">
<div class="sidebar" id="sidebar">
    <div class="sidebar-header">
        <a routerLink="/admin">
          <h2>EPI Farmacia</h2>
        </a>
      </div>
    <ul class="nav-list">
        <li><a routerLink="/admin/productos"><i class="fas fa-box"></i> Productos</a></li>
        <li><a routerLink="/admin/addproductos"><i class="fas fa-plus-square"></i> Nuevos Productos</a></li>
        <li><a routerLink="/admin/ventas"><i class="fas fa-shopping-cart"></i> Ventas</a></li>
        <li><a routerLink="/admin/facturas"><i class="fas fa-file-invoice"></i> Facturas</a></li>
        <li><a routerLink="/admin/reportes"><i class="fas fa-chart-line"></i> Reportes</a></li>
        <li><a routerLink="/admin/usuario"><i class="fas fa-users"></i> Usuarios</a></li>
        <li><a routerLink="/admin/clientes"><i class="fas fa-user-friends"></i> Clientes</a></li>
        <li><a routerLink="/admin/tiendas"><i class="fas fa-store"></i> Tiendas</a></li>
        <li><a routerLink="/admin/configuracion"><i class="fas fa-cogs"></i> Configuración</a></li>
    </ul>
</div>
<div class="main-content">
    <div class="top-nav">
        <label for="menu-toggle" class="menu-btn"><i class="fas fa-bars"></i></label>
        <span class="user-name">Usuario Conectado</span>
        <div class="nav-links">
            <a routerLink="/admin/productos" class="nav-link"><i class="fas fa-box"></i> Productos</a>
            <a href="#" class="nav-link"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a>
        </div>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>
