.menu-toggle {
    display: none;
}

.sidebar {
    width: 250px;
    height: 100%;
    background-color: #4B0082; /* Morado oscuro */
    color: #FFFFFF; /* Blanco */
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
}

.sidebar-header {
    padding: 10px;
    text-align: center;
    background-color: #6A0DAD; /* Morado */
    font-size: 1.2em;
    font-weight: bold;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.nav-list li {
    margin: 0;
}

.nav-list li a {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    color: #FFFFFF;
    text-decoration: none;
    transition: background-color 0.3s;
}

.nav-list li a i {
    margin-right: 10px;
}

.nav-list li a:hover {
    background-color: #9370DB; /* Lavanda */
}

.main-content {
    margin-left: 250px; /* Ancho de la barra lateral */
    padding: 0;
    width: 100%;
    overflow-y: auto;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #6A0DAD; /* Morado */
    color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 250px; /* Ajuste para la barra lateral */
    right: 0;
    z-index: 1;
}

.top-nav .user-name {
    font-weight: bold;
}

.top-nav .nav-links {
    display: flex;
    align-items: center;
}

.top-nav .nav-link {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 15px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s, padding 0.3s;
}

.top-nav .nav-link i {
    margin-right: 5px;
}

.top-nav .nav-link:hover {
    background-color: #9370DB; /* Lavanda */
    border-radius: 5px;
    padding: 5px 10px;
}

.menu-btn {
    background: none;
    border: none;
    color: #FFFFFF;
    font-size: 1.5em;
    cursor: pointer;
    display: none;
    margin-right: 15px; /* Alineación del menú con los demás elementos */
}

.content {
    padding: 60px 20px;
    margin-top: 50px; /* Ajuste para la barra de navegación superior */
}

h1 {
    color: #4B0082; /* Morado oscuro */
}

@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-250px);
    }

    .menu-toggle:checked + .sidebar {
        transform: translateX(0);
    }

    .main-content {
        margin-left: 0;
    }

    .top-nav {
        left: 0;
    }

    .top-nav .user-name {
        display: none;
    }

    .top-nav .nav-links {
        flex-grow: 1;
        justify-content: flex-end;
    }

    .menu-btn {
        display: block;
    }
}
