<app-inicio></app-inicio>
<div class="background"></div>
<div class="container">
    <div class="item">
        <img src="../../assets/fonts/vacunaLarga.png" alt="Logo de la farmacia" class="logo">
        <div class="text-item">
            <h2>¡Bienvenido! <br><span>Ingreso de Sistema de Farmacia</span></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit laborum harum in quos porro ab doloribus placeat voluptatibus explicabo blanditiis aperiam amet, minus, atque rerum facere quasi! Nostrum, non ab!</p>
            <div class="social-icon">
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="#"><i class='bx bxl-twitter'></i></a>
                <a href="#"><i class='bx bxl-youtube'></i></a>
                <a href="#"><i class='bx bxl-instagram'></i></a>
                <a href="#"><i class='bx bxl-linkedin'></i></a>
            </div>
        </div>
    </div>
    
    <div class="login-section">
        <div class="form-box login">
            <form action="">
                <h2>Login</h2>
                <div class="input-box">
                    <span class="icon"><i class='bx bxs-envelope'></i></span>
                    <input type="email" required>
                    <label>Usuario</label>
                </div>
                <div class="input-box">
                    <span class="icon"><i class='bx bxs-lock-alt'></i></span>
                    <input type="password" required>
                    <label>Contraseña</label>
                </div>
                <div class="remember-password">
                    <label for=""><input type="checkbox">Recordar</label>
                    <a href="#">Olvidaste la contraseña</a>
                </div>
                <button class="btn" (click)="onButtonClick()">Entrar</button>
            </form>
        </div>
    </div>
</div>
