<app-inicio></app-inicio>
<div class="wrapper">
    <div class="login-text">
        <button class="cta"><i class="fas fa-chevron-down fa-1x"></i></button>
        <div class="text">
            <a href="">Login</a>
            <hr>
            <br>
            <input type="text" placeholder="Username">
            <br>
            <input type="password" placeholder="Password">
            <br>
            <button class="login-btn" (click)="onButtonClick()">Ingresar</button>
        </div>
    </div>
    <div class="call-text">
        <h1>Ingreso al sistema <span>EPI</span> Farmacia</h1>
        <button>Visita nuestra pagina</button>
    </div>
</div>
