<app-inicio></app-inicio>
<div class="nosotros-container">
    <div class="hero">
      <h1 class="hero-title">Nosotros</h1>
      <p class="hero-subtitle">Tu salud es importante</p>
    </div>
  
    <div class="content">
      <div class="section mision-vision">
        <div class="text">
          <h2>Misión</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet eros eget justo tempor elementum.</p>
          <h2>Visión</h2>
          <p>Integer posuere, risus nec vehicula lobortis, est orci volutpat nisl, nec gravida orci libero a mi.</p>
        </div>
        <div class="image">

        </div>
      </div>
  
      <div class="section historia">
        <h2>Historia</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet eros eget justo tempor elementum. Integer posuere, risus nec vehicula lobortis, est orci volutpat nisl, nec gravida orci libero a mi. Integer posuere, risus nec vehicula lobortis, est orci volutpat nisl, nec gravida orci libero a mi.</p>
      </div>
    </div>
  </div>
  <!-- Footer-->
<app-footer></app-footer>
  <!-- Fin Footer-->