body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .nosotros-container {
    text-align: center;
    color: #2d2d44; /* Color morado para el texto */
  }
  
  .hero {
    background: linear-gradient(rgba(45, 45, 68, 0.8), rgba(45, 45, 68, 0.8)), url('../../assets/inicio/Epifondo3.jpeg') no-repeat center center/cover;
    padding: 250px 20px;
    color: #fff;
    animation: fadeIn 2s ease-in-out;
  }
  
  .hero-title {
    font-size: 4em;
    margin: 0;
    animation: slideInFromLeft 1s ease-in-out;
  }
  
  .hero-subtitle {
    font-size: 1.5em;
    margin-top: 10px;
    animation: slideInFromRight 1s ease-in-out;
  }
  
  .content {
    padding: 40px 20px;
  }
  
  .section {
    margin: 40px 0;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 2s ease-in-out;
  }
  
  .mision-vision {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  
  .mision-vision .text {
    flex: 1;
    text-align: left;
  }
  
  .mision-vision .image {
    flex: 1;
  }
  
  .mision-vision .image img {
    width: 100%;
    border-radius: 8px;
  }
  
  .historia {
    text-align: left;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideInFromLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideInFromRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
